In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [16]:
from sklearn.linear_model import LogisticRegression

In [41]:
df=pd.read_csv("C:/Users/Srinivas/Downloads/Desktop/train1.csv")

In [3]:
df.shape

(31647, 18)

In [4]:
df['subscribed'].value_counts()

no     27932
yes     3715
Name: subscribed, dtype: int64

In [26]:
df=pd.get_dummies(df)

In [6]:
df.shape

(31647, 54)

In [7]:
df.fillna(0,inplace=True)

In [8]:
df.shape

(31647, 54)

In [9]:
from sklearn.model_selection import train_test_split

In [19]:
y=df['subscribed']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2,random_state=0)

In [43]:
x_train=df.drop('subscribed',axis=1)

In [42]:
x_test=df.drop('subscribed',axis=1)

In [54]:
y_train=df['subscribed']

In [45]:
lgr=LogisticRegression()

In [46]:
x_train=pd.get_dummies(x_train)

In [47]:
x_test=pd.get_dummies(x_test)

In [48]:
x_train.fillna(0,inplace=True)

In [49]:
x_train.shape

(31647, 52)

In [50]:
x_test.fillna(0,inplace=True)

In [51]:
x_test.shape

(31647, 52)

In [52]:
y_train.shape

(25317,)

In [55]:
lgr.fit(x_train,y_train)

C:\New folder\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [64]:
pred=lgr.predict(x_test)

In [ ]:
lgr.predict()

In [57]:
lgr.score(x_train,y_train)

0.9024868075962966

In [62]:
lgr.score(x_test,y_test)

0.9024868075962966

In [58]:
coeff_df = pd.DataFrame(x_train.columns.delete(0))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(lgr.coef_[0])

coeff_df.sort_values(by='Correlation', ascending=False)

                Feature  Correlation
50     poutcome_unknown     0.803622
13    job_self-employed     0.414874
43            month_may     0.277096
46            month_sep     0.189055
47     poutcome_failure     0.118633
38            month_feb     0.047082
20      marital_married     0.033828
4              campaign     0.004399
3              duration     0.000432
0                   age     0.000090
2                   day     0.000013
6              previous    -0.002245
19     marital_divorced    -0.008011
36            month_aug    -0.012949
1               balance    -0.022890
8       job_blue-collar    -0.026991
7            job_admin.    -0.032220
26           default_no    -0.046847
42            month_mar    -0.047666
5                 pdays    -0.049592
11       job_management    -0.056626
28           housing_no    -0.065044
16       job_technician    -0.066603
10        job_housemaid    -0.070881
41            month_jun    -0.074995
18          job_unknown    -0.082628
14         job_services    -0.086652
34      contact_unknown    -0.095100
37            month_dec    -0.132509
17       job_unemployed    -0.137145
29          housing_yes    -0.158314
12          job_retired    -0.177212
49     poutcome_success    -0.182846
15          job_student    -0.186152
40            month_jul    -0.188090
39            month_jan    -0.198068
23  education_secondary    -0.204602
35            month_apr    -0.216347
25    education_unknown    -0.271021
45            month_oct    -0.322805
24   education_tertiary    -0.373428
31             loan_yes    -0.378335
9      job_entrepreneur    -0.411871
21       marital_single    -0.437500
22    education_primary    -0.492226
48       poutcome_other    -0.502614
32     contact_cellular    -0.517563
44            month_nov    -0.550682
33    contact_telephone    -0.584451
30              loan_no    -0.737584
27          default_yes    -0.830854

In [ ]:
np.sqrt(np.mean(np.power((np.array(y_test)-np.array(pred)),2)))

In [74]:
pred1=lgr.predict(x_train)

In [75]:
pred1

array(['no', 'no', 'no', ..., 'no', 'no', 'yes'], dtype=object)

In [ ]:
# defining a function which will return the rmsle score
def rmsle(y, y_):
    y = np.exp(y),   # taking the exponential as we took the log of target variable
    y_ = np.exp(y_)
    log1 = np.nan_to_num(np.array([np.log(v + 1) for v in y]))
    log2 = np.nan_to_num(np.array([np.log(v + 1) for v in y_]))
    calc = (log1 - log2) ** 2
    return np.sqrt(np.mean(calc))